<h2>Detalle</h2>
<div class="album py-1 bg-light">
    <div class="row my-2">
        <img [src]="persona.foto" alt="" class="mx-auto d-block">
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Id : {{persona.id}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Nombre : {{persona.nombre}}</h4>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <h4>Apellido : {{persona.apellido}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>Email : {{persona.email}}</h4>
        </div>
    </div>
</div>
<p>
    <a class="btn btn-secondary" role="button" (click)='onLimpiar()'>Limpiar</a>
</p>